@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Quicksand" !important;
  font-weight: bold;
}
